.shop-category {
  /* border: 1px solid red; */
}

.shopcategory-banner {
  display: block;
  margin: 30px 170px;
  width: 82%;
}

.shopcategory-index-sort {
  /* border: 1px solid red; */
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}

.shopcategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}

.shopcategory-index-sort p span {
  font-weight: 600;
}

.shopcategory-products {
  /* border: 1px solid red; */
  margin: 20px 170px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 50px;
}

.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
}
